* 10 Points: Website is up, link was submitted on time.

* 15 Points: Project plan is in place, relevant data is identified, there are draft questions or hypothesis that the student is going to explore.

-1, provide a link to the dataset -- we're in a rich multimedia environment for a reason.

These both look good -- I'd encourage you to pick one of the two and really dive into the data.  One thing for either dataset that I'd encourage you to do is to find some census related data to cities and states in the US with GDP and other variables and bring the two datasets together to see if there are any interesting questions and answers that emerge from the join.

https://zekunsamwu.github.io

Group member:Tianhao Wu, Zekun Wu


Data sets: students performance ; bad driver



We choose the data of "bad driver" because this dataset is mainly focused on the number of accidents each driver involved and how many of them are caused by multiple reasons like alcohol or speeding and so on. This dataset includes all the 52 states in America, which means the size of the data is large. Most of the data number is from national Commissioners or administration.  We can analyze the relationship between each driver's accident rate and their insurance rates, thus we can evaluate how well the insurance company's quote system works. For example, if we find out that a state has a relatively high insurance rate but the accident rates are not comparably high, we can then conclude that the insurance company is not fair to the drivers in that state. This is a social issue that is related to lots of citizens. This dataset has tons of numerical data. Some of them are an interval, as the “number of drivers involved in fatal collisions per billion miles”. Some of them are Ratio, like “Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding”. The size of this data set is perfect for our tutorial. If the dataset is too large, it will take too much time to compile, which is not good for presenting.


We also choose the Students Performance in Exams Dataset found on the Kaggle website. The dataset consists of both categorical variables and numerical variables. It shows the relationship between exam scores of various subjects, race, parental education, lunch type, and test preparation course. The amount of variables within the column variable is limited so that the result and data filtering for our tutorial will look effective and straightforward. Also, similar to the other dataset we chose, this dataset is a great combination for both categorical and numerical data which presents great potential to analyze and data visualization. We are encouraging students to explore the dataset and understand the influence of the parent’s background, test preparation, and other factors on students' performance. We also hope that this dataset can inspire students to explore what are important factors to get a high score by analyzing data and make their own study plan. We want to use this dataset as examples of data curation, parsing, visualization, and hypothesis testing.

In [1]:
import pandas as pd
df = pd.read_csv("./data/bad-drivers.csv")
df

,State,Number of drivers involved in fatal collisions per billion miles,Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding,Percentage Of Drivers Involved In Fatal Collisions Who Were Alcohol-Impaired,Percentage Of Drivers Involved In Fatal Collisions Who Were Not Distracted,Percentage Of Drivers Involved In Fatal Collisions Who Had Not Been Involved In Any Previous Accidents,Car Insurance Premiums ($),Losses incurred by insurance companies for collisions per insured driver ($)
0,Alabama,18.8,39,30,96,80,784.55,145.08
1,Alaska,18.1,41,25,90,94,1053.48,133.93
2,Arizona,18.6,35,28,84,96,899.47,110.35
3,Arkansas,22.4,18,26,94,95,827.34,142.39
4,California,12.0,35,28,91,89,878.41,165.63
5,Colorado,13.6,37,28,79,95,835.50,139.91
6,Connecticut,10.8,46,36,87,82,1068.73,167.02
7,Delaware,16.2,38,30,87,99,1137.87,151.48
8,District of Columbia,5.9,34,27,100,100,1273.89,136.05
9,Florida,17.9,21,29,92,94,1160.13,144.18
10,Georgia,15.6,19,25,95,93,913.15,142.80
11,Hawaii,17.5,54,41,82,87,861.18,120.92
12,Idaho,15.3,36,29,85,98,641.96,82.75
13,Illinois,12.8,36,34,94,96,803.11,139.15
14,Indiana,14.5,25,29,95,95,710.46,108.92
15,Iowa,15.7,17,25,97,87,649.06,114.47
16,Kansas,17.8,27,24,77,85,780.45,133.80
17,Kentucky,21.4,19,23,78,76,872.51,137.13
18,Louisiana,20.5,35,33,73,98,1281.55,194.78
19,Maine,15.1,38,30,87,84,661.88,96.57
20,Maryland,12.5,34,32,71,99,1048.78,192.70
21,Massachusetts,8.2,23,35,87,80,1011.14,135.63
22,Michigan,14.1,24,28,95,77,1110.61,152.26
23,Minnesota,9.6,23,29,88,88,777.18,133.35
24,Mississippi,17.6,15,31,10,100,896.07,155.77
25,Missouri,16.1,43,34,92,84,790.32,144.45
26,Montana,21.4,39,44,84,85,816.21,85.15
27,Nebraska,14.9,13,35,93,90,732.28,114.82
28,Nevada,14.7,37,32,95,99,1029.87,138.71
29,New Hampshire,11.6,35,30,87,83,746.54,120.21
30,New Jersey,11.2,16,28,86,78,1301.52,159.85
31,New Mexico,18.4,19,27,67,98,869.85,120.75
32,New York,12.3,32,29,88,80,1234.31,150.01
33,North Carolina,16.8,39,31,94,81,708.24,127.82
34,North Dakota,23.9,23,42,99,86,688.75,109.72
35,Ohio,14.1,28,34,99,82,697.73,133.52
36,Oklahoma,19.9,32,29,92,94,881.51,178.86
37,Oregon,12.8,33,26,67,90,804.71,104.61
38,Pennsylvania,18.2,50,31,96,88,905.99,153.86
39,Rhode Island,11.1,34,38,92,79,1148.99,148.58
40,South Carolina,23.9,38,41,96,81,858.97,116.29
41,South Dakota,19.4,31,33,98,86,669.31,96.87
42,Tennessee,19.5,21,29,82,81,767.91,155.57
43,Texas,19.4,40,38,91,87,1004.75,156.83
44,Utah,11.3,43,16,88,96,809.38,109.48
45,Vermont,13.6,30,30,96,95,716.20,109.61
46,Virginia,12.7,19,27,87,88,768.95,153.72
47,Washington,10.6,42,33,82,86,890.03,111.62
48,West Virginia,23.8,34,28,97,87,992.61,152.56
49,Wisconsin,13.8,36,33,39,84,670.31,106.62
50,Wyoming,17.4,42,32,81,90,791.14,122.04

In [2]:
import pandas as pd
df = pd.read_csv("./data/StudentsPerformance.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86